@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* Primary colors */
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$darker-cyan: hsl(179, 100%, 13%);
/* Neutral colors */
$transparent-white: hsla(0, 0%, 100%, 0.75); //for paragraphs
$light-gray: hsl(0, 0%, 95%); // background, headings, buttons
/* Fonts */
$bsd: 'Big Shoulders Display', cursive;
$lexend-deca: 'Lexend Deca', sans-serif;

/*
    Mobile 375 px
    Desktop 1440 px
*/

:root {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-gray;
    min-height: 100vh;

}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5.5rem 2rem;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (min-width: 750px) {
        flex-direction: row;
        margin: 0;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        color: $transparent-white;
        font-family: $lexend-deca;
        padding: 50px;
        max-width: 315px;

        .icons {
            margin-top: 1rem;
        }

        .headers {
            font-family: $bsd;
            color: $light-gray;
            font-size: 2.6rem;
            margin-top: 1.5rem;
            text-transform: uppercase;
        }

        p {
            margin-top: 2rem;
            line-height: 1.6;
            text-align: left;
        }

        .buttons {
            background-color: $light-gray;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            border: 3px solid $light-gray;
            border-radius: 30px;
            font-size: 1.1rem;
            width: 150px;
            padding: 1rem;

            @media screen and (min-width: 750px) {
                margin-top: 6rem;
                margin-bottom: .1rem;
            }
        }

        &:nth-child(1) {
            background-color: $bright-orange;
            
            button{
                color: $bright-orange;
                &:hover {
                    background-color: $bright-orange;
                    color: $light-gray;
                }
            }
        }

        &:nth-child(2) {
            background-color: $dark-cyan;

            button{
                color: $dark-cyan;
                &:hover {
                    background-color: $dark-cyan;
                    color: $light-gray;
                }
            }
        }

        &:nth-child(3) {
            background-color: $darker-cyan;

            button{
                color: $darker-cyan;
                &:hover {
                    background-color: $darker-cyan;
                    color: $light-gray;
                }
            }
        }
    }
}